*.zip
*.gdb
*.lock
*.dlpk
.vscode/settings.json
.vscode/launch.json
Dados
*.safe
*.jp2
*.ipynb
*.shp
*.dbf
*.shx
*.xml
*.csv
*.sbx
*.sbn
*.prj
*.cpg
env
temp
downloads
__pycache__
*.pyc
Ferramenta/core/configs/project/variables.json
Ferramenta/core/configs/project/authentication.json
*.log

# Specific Allowances
!*ServicesSupportData.gdb
!*model_cbers.dlpk
!*model_sentinel2.dlpk
Ferramenta/core/ml_models/model_sentinel2.dlpk
Ferramenta/core/ml_models/model_cbers.dlpk
Ferramenta/core/configs/project/variables.yaml
